@model RiskRegisterII.Models.RegisterRisk

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>


<h4>Edit Risk Reported</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RiskTypeId" class="control-label"></label>
                @*<input asp-for="RiskTypeId" class="form-control" />*@
                <select asp-for="RiskTypeId" class="form-control" asp-items="@(new SelectList(ViewBag.RiskTypeDetails, "Id", "Name"))"></select>
                <span asp-validation-for="RiskTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InherentRisk" class="control-label"></label>
                <input asp-for="InherentRisk" class="form-control" />
                <span asp-validation-for="InherentRisk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mitigants" class="control-label"></label>
                <input asp-for="Mitigants" class="form-control" />
                <span asp-validation-for="Mitigants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoggedBy" class="control-label"></label>
                <input asp-for="LoggedBy" class="form-control" />
                <span asp-validation-for="LoggedBy" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

